#header-holder{display:none;}
div.hot-tags-holder{display:none;}

#aside-reg-login{display:none;}
#js-top-contributor{display:none;}
#js-top-editor{display:none;}

div.feed-avatar{display:none;}
div.feed.feed-text{display:none;}
div.feed.feed-audio{display:none;}
div.feed.feed-useraudio{display:none;}
div.feed.feed-video{display:none;}
div.feed.feed-link{display:none;}
div.photos-desc.rich-content{display:none;}
div.feed-img-desc.rich-content{display:none;}

div.feed-tag.clearfix{display:none;}
div.feed-act{display:none;}

div.row.clearfix{width:750px!important;}
div.wall-holder{width:750px!important;}
div.recommend-wall{width:750px!important;}

div.wall-t{display:none;}
div.wall-b{display:none;}
div.wall-l{display:none;}
div.wall-r{display:none;}
