#header-holder{display:none;}
div.hot-tags-holder{display:none;}

#aside-reg-login{display:none;}
#js-top-contributor{display:none;}
#js-top-editor{display:none;}

div.feed-avatar{display:none;}
div.feed.feed-text{display:none;}
div.feed.feed-audio{display:none;}
div.feed.feed-useraudio{display:none;}
div.feed.feed-video{display:none;}
div.feed.feed-link{display:none;}
div.photos-desc.rich-content{display:none;}
div.feed-img-desc.rich-content{display:none;}

div.feed-tag.clearfix{display:none;}
div.feed-act > *:nth-child(n+2){display:none;}
div.feed-act a{color:##307DCA!important;}
div.pop-triangle{display:none;}
h4.feed-title{display:none;}
#aside-footer{display:none;}
a.post-source-share{display:none;}

div.row.clearfix{width:750px!important;}
div.wall-holder{width:750px!important;}
div.recommend-wall{width:750px!important;}
div.recommend-wall-wrap{width:750px!important;}

div.wall-t{display:none;}
div.wall-b{display:none;}
div.wall-l{display:none;}
div.wall-r{display:none;}
s.player-icon{display:none;}

div.threeTools{
	position: fixed;
	text-indent: -9999px;
	display: block;
	bottom: 50%;
	left: 50%;
	margin-left: 250px;
	outline: none;
	cursor:pointer;
}
div.threeTools-item{
	position:relative;
	width:50px;
	min-height: 42px;
	opacity:0.4;
	background-color:#444;
	border:1px solid #000;
	color:red;
}

#tag-search-outer{width:750px;}
#content-holder{margin-left: auto!important;margin-right: auto!important; overflow-x: hidden; width: 760px!important;}
